@model BoilerPlate.UredjajAppService.Dto.UredjajPutDto
@{
    ViewData["Title"] = "Add";
    var listaOsoba = ViewBag.SelectOsoba as SelectList;
}

<h2>Dodaj novi uredjaj</h2>

<hr />

<form method="post">
    <div class="form-group">
        <input type="text" name="UredjajIme" placeholder="UredjajIme" class="form-control" />
        <input type="text" name="OsobaId" placeholder="OsobaId" class="form-control" />

    </div>
    <button type="submit" class="btn btn-primary">@("Add")</button>
</form>