
@model BoilerPlate.OsobaAppService.Dto.OsobaPutDto
@{
    ViewData["Title"] = "Update";

   
}

<h2>Update Osobu</h2>
<hr />

<form method="post">
    <div class="form-group">
        Ime: <input type="text" name="Ime" class="form-control" value="@Model.Ime" />
        Prezime: <input type="text" name="Prezime" class="form-control" value = "@Model.Prezime" />
        Kancelarija<input type="text" name="KancelariajId" class="form-control" value="@Model.KancelarijaId" />
    </div>
    <button type="submit" class="btn btn-primary">@("Update")</button>
</form>


