@model BoilerPlate.OsobaAppService.Dto.OsobaGetDto
@{
    ViewData["Title"] = "Delete";
}

<h2>Obrisi Osobu</h2>


<hr />

<h2>Ime: @Model.Ime  @Model.Prezime </h2>
<h3>Id: @Model.Id</h3>

<form method="post">
    <button type="submit" class="btn btn-danger">@("Delete")</button>
</form>


