@model BoilerPlate.KancelarijaAppService.Dto.KancelarijaDto
@{
    ViewData["Title"] = "Delete";
}

<h2>Obrisi kancelariju</h2>
<hr/>

<h2>Ime: @Model.Opis </h2>
<form method="post">
    <buttoon type="submit" class="btn btn-danger">@("Delete")</buttoon>
</form>


